<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
    <title>TodayIngoLearned</title>
</head>

<body>
<%- include ('partials/navigation.ejs') %>


<main class="flex-shrink-0">
    <div class="container">
        <div class="alert alert-warning" role="alert">
            <strong>404</strong> couldn't find this page :(.
        </div>

        <a href="/random" class="btn btn-primary">Random TIL</a>

    </div>
</main>

<%- include ('partials/footer_text.ejs') %>

<%- include ('partials/footer.ejs') %>
</body>

</html>