<!doctype html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <title>TodayIngoLearned</title>
</head>

<body>
<% include ./partials/navigation %>

<main role="main" class="container">
    <div class="container">
        <form method="POST" target="">
            <div class="form-group row">
              <label for="comment" class="col-2 col-form-label">Comment</label> 
              <div class="col-10">
                <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"><%= comment.comment %></textarea> 
              </div>
            </div> 
            <div class="form-group row">
              <div class="offset-2 col-10">
                <button name="submit" type="submit" class="btn btn-primary">Save</button>
              </div>
            </div>
          </form>       
          <hr>
          <a href="/edit/comment/<%= comment.id %>/delete"><button class="btn btn-danger">Delete</button></a>   
    </div>
</main>


<% include ./partials/footer_text %>

<% include ./partials/footer %>
</body>

</html>