<!doctype html>
<html lang="en">

<head>
	<% include ./partials/head %>
	<title>TodayIngoLearned</title>
	<link href="/static/css/login.css" rel="stylesheet">
</head>

<body class="text-center">

	<form class="form-signin" method="post" action="/login">
		<img class="mb-4" src="/static/images/icons/app-icon-144.png" alt="" width="144" height="144">
		<h1 class="h3 mb-3 font-weight-normal">Login</h1>
		<label for="username" class="sr-only">Username</label>
		<input autocomplete="username" type="text" name="username" id="username" class="form-control" placeholder="Ingo" required autofocus>
		<label for="password" class="sr-only">Password</label>
		<input autocomplete="current-password" type="password" name="password" id="password" class="form-control" placeholder="Password" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		<p class="mt-5 mb-3 text-muted">TodayIngoLearned (2020)</p>
	</form>

	<% include ./partials/footer %>
</body>

</html>
