body {
    background-color: #f5f5f5;
    padding-top: 5rem;
}

.dark_grey {
    background-color: #353A3F !important;
}

.btn-primary {
    background-color: #a25776 !important;
    border-color: #a25776;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

main>.container {
    padding: 10px 15px 0;
    max-width: 1200px;
}

.circle {
    border-radius: 50%;
}

.pop {
    transition-duration: 0.4s;
}

.pop:hover {
    transform: scale(1.2);
}

.description {
    margin: 5px;
    font-size: 1.2em;
}

.tag {
    border-radius: .25rem;
    background-color: #343a40 !important;
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}

.tag:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #646f7a !important;
}

.darkmode--activated .card {
    color: #f5f5f5;
    background-color: #2b353f;
}
